[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "easyreporting"]
	path = easyreporting
	url = https://github.com/drighelli/easyreporting
	shallow = true
	registered = true
